In [ ]:
import pandas as pd
a=[1,7.2,5]
myvar=pd.Series(a)
print(myvar)

0    1.0
1    7.2
2    5.0
dtype: float64

In [ ]:
print(myvar[0])#retrun 1st element

1.0

In [ ]:
a=[1,7,2]
myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

x    1
y    7
z    2
dtype: int64

In [ ]:
print(myvar["y"])

7

In [ ]:
thisdict={"brand":"ford","model":"Mustang","year":1964}
print(thisdict)

{'brand': 'frod', 'model': 'Mustang', 'year': 1964}

In [ ]:
import pandas as pd
calories={"day1":420,"day2":380,"day3":390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [ ]:
import pandas as pd
data={"calories":[420,380,390],"duration":[50,40,45]}
df=pd.DataFrame(data)
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

In [ ]:
df['id']=[10,10,30]
print(df)

   calories  duration  134371666145968  id
0       420        50               10  10
1       380        40               10  10
2       390        45               30  30